@model DosPinos.HRMS.WebApp.Models.Payrolls.PayrollViewModel

@{
    ViewData["Title"] = Model.Title;
}

@section Styles{
    <style>
        #DataTables_Table_0_wrapper{
            margin-bottom: 2rem;
        }
    </style>
}

<div class="content-container">
    <div class="container bg-white rounded shadow py-4" style="width: 98% !important;">

        <div class="container pb-3">
            <form asp-action="Create" method="post" id="formPayroll">
                <button onclick="submitFormPayroll()" class="btn btn-success"><i class="bi bi-calculator"></i> Calcular nómina</button>
            </form>
        </div>

        <div class="content-tables">
            <div class="table-responsive">
                <table class="table data-table">
                    <thead>
                        <tr>
                            <th scope="col" class="text-start">Identificación</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Puesto</th>
                            <th scope="col">Inicio período</th>
                            <th scope="col">Fin período</th>
                            <th scope="col">Salario bruto</th>
                            <th scope="col">Horas extras</th>
                            <th scope="col">Monto horas extras</th>
                            <th scope="col">Recompensas</th>
                            <th scope="col">Deducciones</th>
                            <th scope="col">Salario total</th>
                            <th scope="col">Salario neto</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var payroll in Model.Payroll)
                        {
                            <tr>
                                <td class="text-start">@payroll.Identification</td>
                                <td>@payroll.FullName</td>
                                <td>@payroll.JobTitle</td>
                                <td>@payroll.StartPeriod</td>
                                <td>@payroll.EndPeriod</td>
                                <td>@payroll.GrossSalary.ToString("C")</td>
                                <td>
                                    @* Convertir las horas decimales en formato "hh h mm min" *@
                                    @{
                                        decimal decimalHours = payroll.Overtime;  // Suponemos que `Overtime` es el campo con horas decimales
                                        int hours = (int)decimalHours;
                                        int minutes = (int)((decimalHours - hours) * 60);

                                        // Construimos el string con horas y minutos, verificando si son mayores a 0
                                        string formattedTime = "";

                                        if (hours > 0)
                                        {
                                            formattedTime += $"{hours} h";
                                        }

                                        if (minutes > 0)
                                        {
                                            if (formattedTime != "")
                                            {
                                                formattedTime += " ";  // Agrega espacio si ya hay horas
                                            }
                                            formattedTime += $"{minutes} min";
                                        }

                                        if (string.IsNullOrEmpty(formattedTime))
                                        {
                                            formattedTime = "------";
                                        }
                                    }
                                    @formattedTime
                                </td>
                                <td>@payroll.AmoutOvertime.ToString("C")</td>
                                <td>@payroll.Bonus.ToString("C")</td>
                                <td>@payroll.Deductions.ToString("C")</td>
                                <td>@payroll.TotalSalary.ToString("C")</td>
                                <td>@payroll.NetSalary.ToString("C")</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>

@section Scripts {
    <script src="~/DosPinos.HRMS.Content/js/payroll/payroll.js"></script>
}
