@model VacationViewModel;

@{
    ViewData["Title"] = "Evaluacion de solicitudes";
}

<div class="content-tables">
    <div class="table-responsive">
        <table class="table data-table">
            <thead>
                <tr>
                    <th scope="col">Identificación</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Fecha de salida</th>
                    <th scope="col">Fecha de entrada</th>
                    <th scope="col">Evaluar</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var applicant in Model.Get)
                {
                    <tr>
                        <td class="text-start">@applicant.Identification</td>
                        <td>@applicant.FullName</td>
                        <td>@applicant.StartDate</td>
                        <td>@applicant.EndDate</td>
                        <td class="gap-2">
                            <form asp-action="Evaluation" asp-controller="Vacation" method="post">
                                <input type="hidden" name="EmployeeId" value="@applicant.EmployeeId" />
                                <input type="hidden" name="VacationId" value="@applicant.VacationId" />
                                <input type="hidden" name="IsApproved" value="true" />
                                <button class="btn btn-success px-3">Aprobar</button>
                            </form>
                            <form asp-action="Evaluation" asp-controller="Vacation" method="post">
                                <input type="hidden" name="EmployeeId" value="@applicant.EmployeeId" />
                                <input type="hidden" name="VacationId" value="@applicant.VacationId" />
                                <input type="hidden" name="IsApproved" value="false" />
                                <button class="btn btn-danger px-3">Rechazar</button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>