@model DosPinos.HRMS.WebApp.Models.Employees.EditEmployeeViewModel;

<div class="info-card shadow">
    <h4 class="text-success fw-semibold">Información personal</h4>

    <form data-url="@Url.Action("Edit", "Employee")" class="update-form" method="post" onsubmit="return false">
        <input type="hidden" class="form-control" asp-for="UpdateEmployeeObj.EmployeeObj.EmployeeId" value="@Model.EmployeeObj.EmployeeId">

        <div class="info-card-body">
            <label class="form-label" asp-for="EmployeeObj.Identification">Identificación</label>
            <input type="text" class="form-control" asp-for="EmployeeObj.Identification" readonly>
        </div>

        <div class="info-card-body">
            <label asp-for="UpdateEmployeeObj.EmployeeObj.FirstName" class="form-label">Nombre</label>
            <input type="text" class="form-control" asp-for="UpdateEmployeeObj.EmployeeObj.FirstName" value="@Model.EmployeeObj.Name" maxlength="50">
        </div>

        <div class="info-card-body">
            <label asp-for="UpdateEmployeeObj.EmployeeObj.LastName" class="form-label">Primer apellido</label>
            <input type="text" class="form-control" asp-for="UpdateEmployeeObj.EmployeeObj.LastName" value="@Model.EmployeeObj.FirstLastName" maxlength="50">
        </div>

        <div class="info-card-body">
            <label asp-for="UpdateEmployeeObj.EmployeeObj.SecondLastName" class="form-label">Segundo apellido</label>
            <input type="text" class="form-control" asp-for="UpdateEmployeeObj.EmployeeObj.SecondLastName" value="@(!string.IsNullOrEmpty(Model.EmployeeObj.SecondLastName) ? Model.EmployeeObj.SecondLastName : "--------")" maxlength="50">
        </div>

        <div class="info-card-body">
            <label asp-for="UpdateEmployeeObj.EmployeeObj.Overtime" class="form-label">Horas extras laboradas</label>
            <input type="number" class="form-control" asp-for="UpdateEmployeeObj.EmployeeObj.Overtime" value="@Model.EmployeeObj.OvertimeExcess">
        </div>

        <div class="info-card-body">
            <label class="form-label" asp-for="EmployeeObj.ManagerId">Jefe directo</label>
            <select class="form-select" asp-for="EmployeeObj.ManagerId" asp-items="@Model.Managers">
                <option selected value="0">No aplica</option>
            </select>
        </div>
    </form>
</div>