@* @using DosPinos.HRMS.Entities.Interfaces.Securities.Catalogs
@model List<IGetAllRoleDTO>; *@
@using DosPinos.HRMS.Entities.Interfaces.Employees
@model List<IGetAllEmployeeDTO>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <ul>
        @* @foreach (var role in Model)
        {
            <li>
                @role.RoleDescription;
            </li>
        } *@

        @foreach (var employee in Model)
        {
            <li>
                @employee.Identification
            </li>
            <li>
                @employee.EmployeeName
            </li>
            <li>
                @employee.DateEntry
            </li>
            <li>
                @employee.HiringTypeDescription
            </li>
            <li>
                @employee.JobTitleDescription
            </li>
            <li>
                @employee.ManagerName
            </li>
        }
    </ul>
</div>
