@model DosPinos.HRMS.WebApp.Models.FreeTimes.FreeTimeViewModel;

@{
    ViewData["Title"] = Model.Title;
}

<div class="content-container">

    <div class="d-flex m-3 mb-5 gap-5">

        <!-- Vacation -->
        <div class="w-50 pe-5">
            <partial name="Vacation/CreateVacation" />
        </div>

        <div class="w-50 d-flex flex-column gap-5 ps-3">
            <!-- License -->
            <partial name="License/CreateLicense" />

            <!-- Special Permission -->
            <partial name="SpecialPermission/CreateSpecialPermission" />         
        </div>
    </div>

    <div class="card border-0 shadow m-3">

        <div class="card-header bg-success-subtle fw-semibold">
            Historial
        </div>

        <div class="card-body overflow-y-auto py-5">
            <div class="content-tables">
                <div class="table-responsive">
                    <table class="table data-table">
                        <thead>
                            <tr>
                                <th scope="col">Período</th>
                                <th scope="col">Días</th>
                                <th scope="col">Tipo</th>
                                <th scope="col">Estado</th>
                                <th scope="col">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var vacation in Model.Vacation.Vacations)
                            {
                                <tr>
                                    <td>@($"{vacation.StartDate} - {vacation.EndDate}")</td>
                                    <td>@vacation.Days @(vacation.Days == 1 ? "día" : "días")</td>
                                    <td>Vacaciones</td>
                                    <td>@vacation.Status</td>
                                    <td class="text-center">
                                        @if(vacation.Status.Equals("Pendiente")){
                                            <form asp-action="Delete" asp-controller="Vacation">
                                                <input type="hidden" name="vacationId" value="@vacation.VacationId" />
                                                <button class="btn btn-outline-danger">Eliminar</button>
                                            </form>
                                        }
                                        else {
                                            <span class="d-block">------</span>
                                        }
                                    </td>
                                </tr>
                            }
                            @foreach (var license in Model.License.Licenses)
                            {
                                <tr>
                                    <td>@($"{license.StartDate} - {license.EndDate}")</td>
                                    <td>@license.Days @(license.Days == 1 ? "día" : "días")</td>
                                    <td>@license.TypeLicense</td>
                                    <td>@license.Status</td>
                                    <td class="text-center">
                                        @if (license.Status.Equals("Pendiente"))
                                        {
                                            <form asp-action="Delete" asp-controller="License">
                                                <input type="hidden" name="licenseId" value="@license.LicenseId" />
                                                <button class="btn btn-outline-danger">Eliminar</button>
                                            </form>
                                        }
                                        else
                                        {
                                            <span class="d-block">------</span>
                                        }
                                    </td>
                                </tr>
                            }                            
                            @foreach (var permission in Model.Permission.Permissions)
                            {
                                <tr>
                                    <td>@($"{permission.StartDate} - {permission.EndDate}")</td>
                                    <td>@permission.Days @(permission.Days == 1 ? "día" : "días")</td>
                                    <td>@permission.TypePermission</td>
                                    <td>@permission.Status</td>
                                    <td class="text-center">
                                        @if (permission.Status.Equals("Pendiente"))
                                        {
                                            <form asp-action="Delete" asp-controller="Permission">
                                                <input type="hidden" name="permissionId" value="@permission.PermissionId" />
                                                <button class="btn btn-outline-danger">Eliminar</button>
                                            </form>
                                        }
                                        else
                                        {
                                            <span class="d-block">------</span>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>