@model DosPinos.HRMS.WebApp.Models.Reports.ReportLicenseViewModel

@{
    ViewData["Title"] = Model.Title;
}

<div class="content-container">

    <div class="card border-0 shadow m-3">
        <div class="card-header bg-success-subtle fw-semibold">
            Reporte Incapacidades
        </div>
        <div class="card-body overflow-y-auto py-5">
            <div class="content-tables">
                <div class="table-responsive">
                    <table class="table report-table">
                        <thead>
                            <tr>
                                <th scope="col" class="text-center">#</th>
                                <th scope="col">Empleado</th>
                                <th scope="col">Puesto</th>
                                <th scope="col">Fecha de finalización</th>
                                <th scope="col">Tipo de permiso</th>
                                <th scope="col">Duración</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var license in Model.License)
                            {
                                <tr>
                                    <td class="text-start">@license.Identification</td>
                                    <td>@license.FullName</td>
                                    <td>@license.JobTitle</td>
                                    <td>@license.Date.ToString("d-M-yyyy")</td>
                                    <td>@license.LicenseType</td>
                                    <td>@license.Duration @(license.Duration == 1 ? "día" : "días")</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>